.about {
  padding-top: 140px;
  padding-bottom: 70px;

  &__sub_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 56px;
    @media all and (max-width: 768px) {
      flex-direction: column;
      padding-top: 6px;
    }
  }

  &__img {
    margin-right: 32px;
    width: 48.6%;

    @media all and (max-width: 768px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 36px;
    color: #f2f2f2;
    @media all and (max-width: 768px) {
      margin-top: 30px;
    }

    &__border {
      padding-top: 17px;
      position: relative;
      display: block;
      height: 60px;

      &__arrow {
        position: absolute;
        top: -12px;
        left: -20px;
      }

      &__line {
        display: block;
        height: 2px;
        background: linear-gradient(
          89.99deg,
          #00d1ff 0%,
          rgba(255, 34, 141, 0) 100%
        );
      }
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 54px;
    max-width: 512px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #f2f2f2;
    @media all and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
