.portfolio {
  &__inner {
    @media all and (max-width: 675px) {
      overflow: scroll;
    }
  }

  &__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    @media all and (max-width: 675px) {
      min-width: 625px;
      height: 46px;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 54px;
      }
      &__btn {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;

        &__text {
          font-family: 'Raleway';
          font-weight: 600;
          font-size: 24px;
        }

        &__arrow {
          position: absolute;
          top: 16px;
          left: -20px;
        }

        &__border {
          background: linear-gradient(
            89.99deg,
            #5b5b5b 0%,
            rgba(91, 91, 91, 0) 100%
          );
          display: block;
          margin-top: 17px;
          height: 2px;
        }

        &__border__active {
          background: linear-gradient(
            89.99deg,
            #00d1ff 0%,
            rgba(255, 34, 141, 0) 100%
          );
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 64px;
    margin-bottom: 50px;
    margin-top: 30px;

    &__item {
      &__img {
        margin-bottom: 32px;
        width: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.01);
          transition: transform 0.3s ease-in-out;
        }
      }

      &__title {
        margin: 0;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 20px;
        color: #f2f2f2;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__more {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__text {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      color: #b7bfb1;

      &:hover {
        color: #f2f2f2;
      }
    }

    &__border {
      display: block;
      margin-top: 16px;
      height: 2px;
      background: linear-gradient(
        89.99deg,
        #5b5b5b 0%,
        rgba(91, 91, 91, 0) 100%
      );
    }
  }

  &__list__mobile {
    min-width: 100vw;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 20px;

    &__container {
      overflow-x: auto;
    }
  }

  &__slide {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    width: calc(100% - 24px);
    min-height: 400px;

    &__inner {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 16px 8px;
      background: rgba(21, 36, 72, 0.2);
      backdrop-filter: blur(50px);
    }

    &__inner {
      font-family: 'Lato';
      font-weight: 500;
      font-size: 18px;
      color: #f2f2f2;
    }
  }
}
